body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1e1e1e;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    max-width: 90%;
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #f0f0f0;
}

.content {
    display: flex;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}

input, button {
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #444;
    outline: none;
    background-color: #3e3e3e;
    color: #f0f0f0;
}

input:focus {
    border-color: #007BFF;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
    font-size: 14px;
    padding: 10px;
    align-self: center;
    width: 150px;
}

button:hover {
    background-color: #0056b3;
}

.contact-list-container {
    flex: 2;
    overflow-y: auto;
    background-color: #3e3e3e;
    padding: 20px;
    border-radius: 10px;
    max-height: 500px; /* define a altura máxima da lista de contatos */
}

.contact-list-container h2 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 12px;
    background-color: #444;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #555;
}

li form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

li input {
    background-color: #555;
    color: #f0f0f0;
    border: 1px solid #666;
}

li .buttons {
    display: flex;
    justify-content: space-between;
}

li button {
    padding: 5px 8px;
    font-size: 12px;
    background-color: #6c757d;
    border-radius: 5px;
    border: none;
    color: white;
    width: 70px;
}

li button.edit-btn {
    background-color: #28a745;
}

li button.delete-btn {
    background-color: #dc3545;
}

li button:hover {
    background-color: #5a6268;
}

li button.edit-btn:hover {
    background-color: #218838;
}

li button.delete-btn:hover {
    background-color: #c82333;
}
