main {
    padding: 10;
    background-color:white;
    display: flex;
    justify-content: center;
    height: 60vw;
    align-items: center;
}

main> div {
    margin: 10vw;
}
.conteudo {
    color: black;
    background-color:white;
    text-align: center;
}
.nome campeonato {
    padding-bottom: 4vh;
    font-size: 4vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Palmeiras {
    color: white;
    background-color:green;
    text-align: center;
}
.Internacional {
    color: white;
    background-color:red;
    text-align: center;
}
.Fluminense {
    color: red;
    background-color:green;
    text-align: center;
}
.Corinthians {
    color: white;
    background-color:black;
    text-align: center;
}
